* {
  font-family: "Comic sans MS", "Verdana", "Heiti SC", "Helvetica";
  text-align: center;
}

li {
  list-style: none;
}

#backtoblog {
  position: fixed;
  top: 3%;
  left: 2%;
}
#backtoblog.btn-default {
  background-color: rgba(80, 80, 80, .3);
  border: none;
  color: #EEE;
  transition: .4s;
}
#backtoblog.btn-default:hover {
  color: #FFF;
  background-color: rgba(99, 200, 185, .3);
}

.bg{
  background-image: url('http://ocgwwz4eb.bkt.clouddn.com/wallhaven-10121.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

#title h1 {
  text-shadow: 0 0 5px #888, 0 0 20px #333;
  color: #FFF;
  margin: 10% auto 10%;
}

.container {
  width: 80%;
}

.container .jumbotron {
  width: 100%;
  padding: 40px 15px;
  background-color: transparent;
}

.row {
  margin: 15px auto;
  width: 90%;
}

.col-sm-3 {
  padding: 5px;
}


.col-sm-3 a {
  background-color: rgba(255, 255, 255, .1);
  font-size: 18px;
  transition: .4s;
  padding: 25% 10%;
  border: none;
  border-radius: 0;
  width: 100%;
}

.col-sm-3 a:hover {
  background-color: rgba(48, 48, 48, .3);
  color: #FFF;
}
